@use '../../assets/styles/index.scss' as *;


.bucket{
    display: flex;
    flex-direction: column;
    padding: rm(64) rm(32);
    color: white;
    position: relative;
    padding-top: rm(164);
    
    .delete{
        font-size: font(20);
        color: white;
    }

    .title-container{
        display: flex;
        align-items: center;
        gap: rm(5);
        width: rm(300);
        margin-right: rm(10);
    }


    .bucket-button{
        border-radius: rm(50);
        border: 1px solid black;
        padding: rm(6) rm(12);
        cursor: pointer;
        transition: opacity .7s ease-in-out;
        font-size: font(24);

        &:hover{
            opacity: .7;
        }
    }


    .bucket-minus{
        padding: rm(6) rm(14);
        margin-right: rm(15);
    }

    .bucket-plus{

    }

    input{
        margin-top: rm(20);
        background: none;
        border: none;
        color: white;
    }

    &__price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rm(30);

        p{
            color: white;
            font-size: font(20);
        }

    }

    &__over{
        color: white;
        margin-top: rm(30);
        font-size: font(24);
    }

    &__text{

        display: flex;
        justify-content: space-between;
        align-items: center;



        >:first-child{
            font-size: font(24);
            margin-bottom: rm(25);
            color: white;
        }
        
        >:last-child{
            font-size: font(20);
            text-decoration: underline;
            color: white;
            cursor: pointer;
            margin-top: rm(-10);
        }
    }

    &__information{
        display: flex;
        flex-direction: column;
        gap: rm(15);

        &__section{
            display: flex;
            align-items: center;

            .choose{
                color: white;
                font-size: font(20);
                width: rm(60);
            }

            >:first-child{
                display: flex;
                align-items: center;

                img{
                    width: rm(120);
                    height: rm(80);
                    margin-right: rm(9);
                }
    
                p{
                    color: white;
                    font-size: font(20);
                }
            }

        }
    }
}