@use '../../assets/styles/index.scss' as *;


.bucket{
    display: flex;
    flex-direction: column;
    padding: rm(64);
    
    input{
        margin-top: rm(20);
        background: none;
        border: none;
        color: white;
    }

    &__price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rm(30);

        p{
            color: white;
            font-size: font(20);
        }

    }

    &__over{
        color: white;
        margin-top: rm(30);
    }

    &__text{

        display: flex;
        justify-content: space-between;
        align-items: center;



        >:first-child{
            font-size: font(24);
            margin-bottom: rm(25);
            color: white;
        }
        
        >:last-child{
            font-size: font(20);
            text-decoration: underline;
            color: white;
            cursor: pointer;
            margin-top: rm(-10);
        }
    }

    &__information{
        display: flex;
        flex-direction: column;
        gap: rm(15);

        &__section{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .choose{
                color: white;
                font-size: font(20);
            }

            >:first-child{
                display: flex;
                align-items: center;

                img{
                    width: rm(120);
                    height: rm(120);
                    margin-right: rm(9);
                }
    
                p{
                    color: white;
                    font-size: font(20);
                }
            }

        }
    }
}