@use "../../assets/styles/index.scss" as *;

.shaw-box{
    width: 100%;
    // align-items: center;
    // justify-content: center;
    padding-top: rm(35);
    position: relative;

    &__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Две колонки с одинаковой шириной */
        grid-gap: rm(20) rm(30);
    }
    
    .difference{
        color: #868686;
        font-size: font(20);
        text-transform: uppercase;
        text-align: center;
        margin-top: rm(30);
    }

    &__title{
        color: white;
        font-size: font(12);
        position: absolute;
        top: rm(-42);
        left: rm(160);
    }

    &__logo{
        position: absolute;
        top: rm(-52);
        left: rm(100);
        height: rm(40);
        width: rm(40);
    }
}