@use "../../assets/styles/index.scss" as *;

.kfc{
    width: 100%;
    // align-items: center;
    // justify-content: center;
    padding: rm(35) rm(120) rm(0) rm(120);
    position: relative;

    &__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Две колонки с одинаковой шириной */
        grid-gap: 35px 50px;
    }

    &__title{
        color: white;
        font-size: font(12);
        position: absolute;
        top: rm(-42);
        left: rm(160);
    }

    &__logo{
        position: absolute;
        top: rm(-52);
        left: rm(100);
        height: rm(40);
        width: rm(40);
    }
}